{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/tools.cli {:mvn/version "1.0.206"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "1.60.977"}}
                  :main-opts ["-m" "kaocha.runner"]}}}
